* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fa;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
}

nav.mobile-nav {
  display: none;
}

.brand-logo {
  font-weight: bold;
  display: flex;
  gap: 1rem;
}

.brand-logo img {
  width: 2rem;
  height: 2rem;
}

.brand-logo h1 {
  font-size: 2rem;
  color: #1773cf
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #33424ff8;
  border-radius: 5px;
}

nav a:hover {
  text-decoration: underline;
  color: rgba(23, 115, 207, 1);
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.user-actions button {
  background-color: rgb(222, 81, 73);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

main {
  padding: 2rem;
  min-height: 80vh;
  margin: 0 5%;
}

header {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.header-content h1 {
  margin-bottom: 1rem;
  color: #33424ff8;
}

.header-description {
  max-width: 42rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #5f636a;
  /* color: rgba(103, 113, 126, 1); */
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card.horizontal {
  flex-direction: row;
  gap: 1rem;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.card-action button {
  background-color: #1773cf;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}


footer {
  background-color: #edeff2;
  padding: 2rem 1.5rem;
  text-align: center;
  color: #5f636a;
  text-align: left;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer-links a {
  text-decoration: none;
  color: #5f636a;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-link h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-bottom {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 300;
}

.btn {
  text-decoration: none;
  background-color: white;
  color: #1773cf;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #1773cf;
  color: white;
}

.btn.primary:hover {
  background-color: #155a8a;
  color: white;
}

.btn.secondary {
  background-color: #4db3e6;
  color: white;
}

.btn:hover, button:hover {
  transform: translate(0, -2px);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: gainsboro;
}

.btn:focus, button:focus {
  outline: none;
}


@media screen and (max-width: 600px) {
  nav.desktop-nav .nav-container {
    display: none;
  }

  nav.mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
}