main {
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(135deg, #1773cfcc 0%, #4db3e6cc 100%);
  color: white;
  display: flex;
  padding: 6rem 0;
}

header .section-description {
  color: white;
}

.header-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.header-content {
  padding: 0 2rem;
}

.header-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: white;
}

.section-header {
  margin-bottom: 2rem;
}

.section-description {
  max-width: 90vh;
  margin: 0 auto;
  text-align: center;
}

.cart-icon {
  display: none;
}

/* .header-actions button {
  min-width: 12rem;
  } */

.featured-products {
  padding: 4rem 3rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.featured-products h2 {
  margin-bottom: 2rem;
  text-align: left;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.product-categories {
  padding: 4rem 3rem;
  background-color: #edeff2;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 2rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.category-item.card {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "image"
    "content"
    "action";
  padding: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-content h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #33424ff8;
}

.services {
  padding: 4rem 3rem;
}

.services .section-description {
  color: #5f636a;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.call-to-action {
  background: linear-gradient(to left, #1773cf 0%, #4db3e6 100%);
  color: white;
  /* background: linear-gradient(left,  #1773cf 0%, #4db3e6 100%); */
  color: white;
  padding: 4rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-to-action h2 {
  margin-bottom: 2rem;
}

.call-to-action .section-description {
  font-size: 1.1rem;
}

.cta-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.footer-link.account {
  display: none;
}